/*Page3*/

body {background-color:#C5E0DC;}

nav {background-color:#ECE5CE;}
nav a{color:#703529;}
nav a:hover{background-color:#E8D5E2;}
nav{padding:1em;}
nav{margin-bottom:1em;}

.toprow {display:flex;
justify-content: space-between;
flex-wrap: wrap;
}

.col1, .col2 {
    flex-basis: 45%
    
}

.col1 {
    flex: 1;
    background-color: #f4ac84; border-radius: 1em; margin:10px;
    margin:10px;
    padding:20px;
}

.col2 {
    flex: 1;
    background-color: #d19feb; border-radius: 1em; margin:10px;
    margin:10px;
    padding:20px;
    
}

.bottomrow {
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}

.bottomcol1, .bottomcol2 {
    flex-basis: 45%
}

.bottomcol1 {
    flex: 1;
    background-color: #d19feb; border-radius: 1em; margin:10px;
    margin:10px;
    padding:20px;
}

.bottomcol2 {
    flex: 1;
    background-color: #f4ac84; border-radius: 1em; margin:10px;
    margin:10px;
    padding:20px;
}

@media only screen and (max-width: 600px) {
    nav a {display: block;
    padding: 10px;}
    span {display: none;}
}

.imagerow {
    display: flex;
}

.imagecol {
    flex: 33.33%;
    padding: 5px;
}

.footer {
    text-align: center;
    font-size: larger;
}

.header {
    text-align: center;
    font-size: 50px;
    font-family:cursive;
    padding: 20px;
}

header {
    background-color:#ECE5CE;
}

.topparagraph {
    text-align: center;
    font-family:monospace;
}

h1, h2 {
    text-align: center;
}

.youtubevideo {
    position: relative;
    overflow: hidden;
    width: 100%;

    display: block;
    content: "";
    padding-top: 56.25%;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}