body {background-color:#C5E0DC;}

a {color:#774F38;}

h1, h2, h3 {color:#F1D4AF;}

p {color:#E08E79;}

nav {background-color:#ECE5CE;}

nav a{color:#EED5D0;}
nav a:hover{background-color:#E8D5E2;}
nav{padding:10px}
nav{margin-bottom:30px}


