/*Page3*/

body {background-color:#C5E0DC;}

nav {background-color:#ECE5CE;}
nav a{color:#703529;}
nav a:hover{background-color:#E8D5E2;}
nav{padding:1em;}
nav{margin-bottom:1em;}

.toprow {display:flex;
justify-content: space-between;
flex-wrap: wrap;
}

.col1, .col2 {
    flex-basis: 45%
    
}

.col1 {
    flex: 1;
    background-color: #f4ac84; border-radius: 1em; margin:10px;
    margin:10px;
    padding:20px;
}

.col2 {
    flex: 1;
    background-color: #d19feb; border-radius: 1em; margin:10px;
    margin:10px;
    padding:20px;
    
}

.bottomrow {
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}

.bottomcol1, .bottomcol2 {
    flex-basis: 45%
}

.bottomcol1 {
    flex: 1;
    background-color: #d19feb; border-radius: 1em; margin:10px;
    margin:10px;
    padding:20px;
}

.bottomcol2 {
    flex: 1;
    background-color: #f4ac84; border-radius: 1em; margin:10px;
    margin:10px;
    padding:20px;
}

@media only screen and (max-width: 600px) {
    nav a {display: block;
    padding: 10px;}
    span {display: none;}
}

.imagerow {
    display: flex;
}

.imagecol {
    flex: 33.33%;
    padding: 5px;
}

.footer {
    text-align: center;
    font-size: larger;
}

.header {
    text-align: center;
    font-size: 50px;
    font-family:cursive;
    padding: 20px;
}

header {
    background-color:#ECE5CE;
}

.topparagraph {
    text-align: center;
}

h1, h2 {
    text-align: center;
}

a {
    color:#000000;
}

object {
    max-width: 700px;
}

/*Form*/

body {background-color:#C5E0DC;}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    padding: 10px;
    margin: 10px;
}

/*Page2*/

.some-page-wrapper {
    margin: 15px;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }

  .orange-column {
    background-color: #d19feb; border-radius: 1em; margin:10px;
    padding: 10px;
  }

  .blue-column {
    background-color: #f4ac84; border-radius: 1em; margin:10px;
    padding: 10px;
  }

  .green-column {
    background-color: #d19feb; border-radius: 1em; margin:10px;
    padding: 10px;
  }

  .green-column {
    display: flex;
    flex-wrap: wrap;
  }
  
  .green-column img {
    margin: 10px;
    position: relative;
    z-index: 1;
  }
  
  .green-column img:hover {
    z-index: 2;
    transform: scale(1.1);
    transition: all 0.3s ease;
  }

  /* Styles for mobile devices */
@media only screen and (max-width: 600px) {
    /* Adjust font sizes and margins for mobile devices */
    h2 {
      font-size: 24px;
      margin-top: 20px;
    }
    ol {
      font-size: 16px;
      margin-left: 20px;
    }
    img {
      width: 100%;
      height: auto;
    }
    /* Modify the layout to display columns vertically on mobile devices */
    .row {
      display: flex;
      flex-direction: column;
    }
    .column {
      width: 100%;
    }
}

.alert, .bolt {
    max-width: 400px;
}
  
/*Page 1*/

.para1, .para2{
    text-align: center;
}

.header {
    animation: appear 2s linear;
  }
  
  @keyframes appear {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

.flex-container {
    display: flex;
    flex-direction: row;
    padding: 10px;
  }
  
  .column1 {
    flex: 1;
    border: 1px solid black;
    padding: 20px;
  }
  
  .column2 {
    flex: 1;
    border: 1px solid black;
    padding: 20px;
  }
  
  .column2 section {
    margin-top: 20px;
    padding: 10px;
  }
  
  .trip-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
  }
  
  .left-column {
    width: 50%;
    border: 1px solid black;
    padding: 20px;
  }
  
  .right-column {
    width: 50%;
    border: 1px solid black;
    padding: 20px;
  }
  
  .flexbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
  }

  @media only screen and (max-width: 600px) {
    .flex-container, .trip-container, .flexbox {
      display: flex;
      flex-direction: column;
    }
    
    
  }
  
  